# Database Connection (SQL Server)
# Format: sqlserver://<host>:<port>;database=<db_name>;user=<user>;password=<password>;trustServerCertificate=true;encrypt=false;connectionLimit=10
DATABASE_URL="sqlserver://104.234.134.230:52196;database=arzamarttest;user=arzamarttest;password=F%26N67Xmyytokp5u!;trustServerCertificate=true;encrypt=false;connectionLimit=10"

# Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Auth Secret (optional for admin session encryption)
AUTH_SECRET="your-32-character-auth-secret-key-here"
